@{
  Layout = "_Layout";
}

@using DestinationReviewClient.Models;
@model List<Destination>

<h1>Destinations</h1>
<hr />
@foreach (Destination destination in Model)
{
  <h3>@Html.ActionLink($"{destination.City}, {destination.Country}", "Details", new { id = destination.DestinationId })</h3>
  <hr />
}