@{
  Layout = "_Layout";
}

@model DestinationReviewClient.Models.ApplicationUser

<h1>Log In</h1>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.Label("Username")
    @Html.TextBoxFor(model => model.Username, new { @class="form-control" })
  </div>
  <div class="form-group">
    @Html.Label("Password")
    @Html.TextBoxFor(model => model.Password, new { @class="form-control" , type="password"})
  </div>
  <input type="submit" value="Log In" class="btn btn-primary" />
}