@{
  Layout = "_Layout";
}

@using DestinationReviewClient.Models;
@model List<ApplicationUser>

<h1>Users</h1>
<p>@Html.ActionLink("Add a New User", "Create")</p>
<hr />
@foreach (ApplicationUser user in Model)
{
  <h3>@Html.ActionLink($"{user.Username}", "Details", new { id = user.Id })</h3>
  <h5>@user.FirstName @user.LastName</h5>
  <hr />
}