@{
  Layout = "_Layout";
}

@using DestinationReviewClient.Models;
@model List<Review>

<h1>Reviews</h1>
<hr />
@foreach (Review review in Model)
{
  <h3>@Html.ActionLink($"{review.Title}", "Details", new { id = review.ReviewId })</h3>
  <h5>@review.Destination.City, @review.Destination.Country</h5>
  <hr />
}